// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap Toggle
@import '~bootstrap4-toggle/css/bootstrap4-toggle.min.css';

// Material Icons
@import '~@mdi/font';

// Material Checkboxes/Radios
@import '~icheck-bootstrap';

// Toastr JS
@import '~toastr/toastr';

// SimpleBar
@import '~simplebar';

// SweetAlert 2
@import '~sweetalert2/src/sweetalert2';

// Select2
@import '~select2/src/scss/core';
@import '~@ttskch/select2-bootstrap4-theme/src/layout';
